// Override default variables before the import
$body-bg: rgb(216, 215, 215);
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;

  // @media screen and (max-width: 768px) {
  //   flex-flow: flex-wrap;
  // }
}

.news-header-card {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 150px !important;
  height: 100%;
}